@import "../../shared-component-styles.scss";

.baseBranchContainer {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.branchGroup {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}

.branchText {
  color: initial;
}

.baseBranchLink {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
