@import "../../shared-component-styles.scss";

.searchPopup {
  @extend .popup;
  transform: translateX(-20%);
}

.list {
  padding-left: 1.5rem;
}

.prFiles:not(:first-child) {
  margin-top: 1rem;
}

.metadata {
  color: #6a737d;
  font-weight: bold;
}

.added {
  color: #22863a;
}

.removed {
  color: #cb2431;
}
