@import "../../shared-component-styles.scss";

.fieldWrapper {
  @extend .flexColumn;
  padding: 0.5rem 0;
}

.label {
  color: $fontColor;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
}

.error {
  color: rgb(248, 81, 73);
  font-size: 14px;
}

.field {
  @extend .input;
  margin: 0px 5px 0px 0px;
}
